.user-form {
  max-width: 600px;
  margin: 2rem auto;

  &__element {
    display: flex;

  }

  &__button-wrap {
    display: flex;
    justify-content: center;
  }

  &__button:not(:last-of-type) {
    margin-right: 0.5rem;
  }
}
