.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  &__list {
    display: flex;
    list-style-type: none;
    margin: 0;
  }

  &__item:not(:last-of-type) {
    margin-right: 1rem;
  }

  &__link {


    & [nz-icon] {
      text-align: center;
      font-size: 24px;
      margin-right: 0.5rem;
    }

    &:visited {
      opacity: 0.8;
    }
  }

  &__link-active {
    color: green;
  }
}
