<section class="header">
  <div class="header__logo">
    <span nz-icon nzType="github" nzTheme="outline"></span>
  </div>
  <ul class="header__menu" nz-menu nzTheme="dark" nzMode="horizontal">
    <li nz-menu-item nzSelected><a routerLink="">Главная</a></li>
    <li nz-menu-item><a routerLink="/contacts">Список контактов</a></li>
    <li nz-menu-item><a routerLink="/contact">Посмотреть контакт</a></li>
    <li nz-menu-item><a routerLink="/contact/id">Добавить контакт</a></li>
  </ul>
</section>


