.users {
  width: 100%;
  margin: 2rem auto;
  display: grid;
  gap: 1.25rem;
  grid-template-columns: 180px repeat(auto-fill, 180px);
  justify-content: center;
}

.user {
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  border: 0.1rem solid #000;

  &__img {
    width: 100%;
    border-radius: inherit;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin-top: auto;
  }

  &__button-wrap {
    margin-top: 1rem;
  }

  &__button {
    width: 100%;

    &:not(:last-of-type) {
      margin-bottom: 0.5rem;
    }
  }
}
